<div [highlighted]="false" (toggleHighLight)="onToggle($event)">
  <div class="card" *ngIf="course">
    <div class="card-title">
      {{ cardIndex + " " + course.description | uppercase }}
    </div>
    <div class="card-content">
      <course-image [src]="course.iconUrl"></course-image>
      <p>{{ course.longDescription }}</p>
    </div>

    <div
      class="course-category"
      [ngSwitch]="course.category"
      [ngClass]="cardClasses()"
    >
      <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
      <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
      <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
      <div class="category" *ngSwitchDefault>All levels</div>
    </div>

    <div class="card-actions">
      <ng-content></ng-content>
      <button (click)="onCourseViewed()">View Course</button>
    </div>
  </div>
</div>
